html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
  color: #333;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: default;
}

.preload-panel {
  display: none;
}

.header-panel {
  height: 550px;
  text-align: center;
  background-color: #333;
  color: #FFF;
}

.link-panel {
  text-align: center;
  padding: 50px;
}

.tab-panel {
  height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.tab-panel > div {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: inline-block;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.tab-panel > div:hover {
  border-bottom: 2px solid #333;
  border-radius: 0px;
}

.work-panel {
  height: 350px;
  text-align: center;
  display: none;
  font-family: 'Roboto';
}

.work-panel > .work-title {
  font-size: 1.5em;
  padding-top: 50px;
}

.work-panel > .work-title-sub {
  font-size: 1.2em;
  color: #666;
  padding-top: 10px;
}

.work-panel > .description {
  padding-top: 50px;
}

.title {
  font-size: 2.5em;
  margin-left: 8px;
}

.description {
  font-size: 1em;
}

.icons {
  font-size: 3em;
  padding: 10px;
}

.icon-btn {
  transition: color 0.3s;
  cursor: pointer;
}

#icon-github:hover {
  color: #666;
}

#icon-linkedin:hover {
  color: #0077B5;
}

#icon-steam:hover {
  color: #144C7F;
}

#icon-hummingbird:hover {
  color: #EE5323;
}

#icon-email:hover {
  color: #E81415;
}

#icon-mushroom {
  float: right;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 20px;
}

/* Portrait flipping */
.flip-container {
  padding-top: 100px;
  margin-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  perspective: 1000;
}
.flip-container:hover .flipper {
  transform: rotateY(180deg);
}
.flip-container, .flipper-front, .flipper-back {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.flipper-front, .flipper-back {
  background-size: 150px 150px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.flipper-front {
  z-index: 2;
  transform: rotateY(0deg);
  background-image: url("../images/kevin-2.png");
}
.flipper-back {
  transform: rotateY(180deg);
  background-image: url("../images/resume-logo.png");
}
