body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #333;

  -webkit-animation: fadein 1.5s;
     -moz-animation: fadein 1.5s;
      -ms-animation: fadein 1.5s;
       -o-animation: fadein 1.5s;
          animation: fadein 1.5s;
}

a {
  color: inherit;
  text-decoration: inherit;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

header {
  height: 100px;
}
header nav {
  float: right;
  text-align: center;
}
header nav ul {
  margin: 0;
  list-style: none;
}
header nav li {
  float: left;
  font-weight: bold;
  letter-spacing: 0.1em;
  width: 100px;
  line-height: 99px;
  border-bottom: 1px solid transparent;

  -webkit-transition: border 0.2s ease-out, color 0.2s ease-out;
     -moz-transition: border 0.2s ease-out, color 0.2s ease-out;
       -o-transition: border 0.2s ease-out, color 0.2s ease-out;
      -ms-transition: border 0.2s ease-out, color 0.2s ease-out;
          transition: border 0.2s ease-out, color 0.2s ease-out;
}
header nav li:hover {
  color: #FFD700;
  border-bottom: 1px solid;
}
header nav li a {
  display: block;
}

footer {
  position: fixed;
  display: block;
  left: 15px;
  bottom: 5px;
  z-index: 9999;
}
footer a {
  font-size: 2.3em;
  cursor: default;
}

.uppercase {
  text-transform: uppercase;
}

.logo {
  background-image: url("../images/kevin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px 75px;
  width: 100px;
  height: 100px;
  position: absolute;
  display: block;
}

.title-panel {
  text-align: center;
}

.title-name {
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-right: -15px;
}

.icon-btn {
  -webkit-transition: color 0.2s ease;
     -moz-transition: color 0.2s ease;
       -o-transition: color 0.2s ease;
      -ms-transition: color 0.2s ease;
          transition: color 0.2s ease;
  cursor: pointer;
}

#icon-github:hover {
  color: #aaa;
}

#icon-linkedin:hover {
  color: #0077B5;
}

#icon-steam:hover {
  color: #144C7F;
}

#icon-hummingbird:hover {
  color: #EE5323;
}

#icon-email:hover {
  color: #E81415;
}
