:root {
  --border-ease: border 0.2s ease-out;
  --colour-ease: color 0.2s ease;
  --border-colour-ease: border-color 0.4s ease;
  --fade-in: fadein 1s;
  --logo-size: 140px;
  --accent: #FFD700;
}

body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #333;
  min-width: 350px;

  -webkit-animation: var(--fade-in);
     -moz-animation: var(--fade-in);
      -ms-animation: var(--fade-in);
       -o-animation: var(--fade-in);
          animation: var(--fade-in);
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  line-height: 15pt;
}

h1 {
  font-size: 5em;
  font-weight: normal;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 2.5em;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-top: 0;
}

hr {
  border: 0;
  border-top: 3px solid black;
  max-width: 500px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.uppercase {
  text-transform: uppercase;
}

.cursive {
  font-family: Pacifico;
}

.white-text {
  color: #FFF;
}

.link {
  color: var(--accent);
  border-bottom: 2px solid transparent;

  -webkit-transition: var(--border-ease);
     -moz-transition: var(--border-ease);
       -o-transition: var(--border-ease);
      -ms-transition: var(--border-ease);
          transition: var(--border-ease);
}
.link:hover {
  border-bottom: 2px solid;
}

.section-heading {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 2;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 600px;
}

/* Flipping logo */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
}
.logo,
.logo-front,
.logo-back {
  width: var(--logo-size);
  height: var(--logo-size);
  display: inline-block;
}
.logo-front,
.logo-back {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--logo-size);
  backface-visibility: hidden;
  top: 0;
  left: 0;
}
.logo {
  position: relative;
  margin: 0 15px 0 25px;
}
.logo:hover .flipper {
  transform: rotateY(180deg);
}
.logo-front {
  background-image: url("../images/kevin.png");
  transform: rotateY(0deg);
}
.logo-back {
  background-image: url("../images/kevin-cartoon.png");
  transform: rotateY(180deg);
}

.title-panel {
  text-align: center;
}

.title-info {
  text-align: initial;
  display: inline-block;
}

.title-name {
  margin: 0;
  line-height: 62pt;
}

.about-panel {
  background-color: #222;
}

.coding-panel {
  background-color: #999;
}

.bike-panel {
  background-color: #777;
}

.game-panel {
  background-color: #555;
}

.shows-panel {
  background-color: #333;
}

.link-nav {
  position: fixed;
  bottom: 11px;
  left: 14px;
}
.link-nav a {
  cursor: default;
}
.link-next {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 2.3em;
  color: #AAA;
  -webkit-transition: var(--colour-ease);
     -moz-transition: var(--colour-ease);
       -o-transition: var(--colour-ease);
      -ms-transition: var(--colour-ease);
          transition: var(--colour-ease);
}
.link-next:hover {
  color: #333;
}

.icon-btn {
  -webkit-transition: var(--colour-ease);
     -moz-transition: var(--colour-ease);
       -o-transition: var(--colour-ease);
      -ms-transition: var(--colour-ease);
          transition: var(--colour-ease);
  cursor: pointer;
  font-size: 2em !important;
  margin: 3px;
  color: #333;
}

.icon-btn:hover {
  color: var(--accent) !important;
}

/*#icon-github:hover {
  color: #AAA;
}

#icon-linkedin:hover {
  color: #0077B5;
}

#icon-email:hover {
  color: #E81415;
}*/

/*.uwaterloo {
  color: gold;
}
.resume {
  color: #999;
}
.steam {
  color: #144C7F;
}
.overwatch {
  color: #FF9F0D;
}
.hummingbird {
  color: #EE5323;
}*/

.fp-controlArrow.fp-prev {
  border-width: 20px 20px 20px 0 !important;
  -webkit-transition: var(--border-colour-ease);
     -moz-transition: var(--border-colour-ease);
       -o-transition: var(--border-colour-ease);
      -ms-transition: var(--border-colour-ease);
          transition: var(--border-colour-ease);
}

.fp-controlArrow.fp-next {
  border-width: 20px 0 20px 20px !important;
  -webkit-transition: var(--border-colour-ease);
     -moz-transition: var(--border-colour-ease);
       -o-transition: var(--border-colour-ease);
      -ms-transition: var(--border-colour-ease);
          transition: var(--border-colour-ease);
}

.fp-controlArrow.fp-prev:hover {
  border-right-color: #222 !important;
}

.fp-controlArrow.fp-next:hover {
  border-left-color: #222 !important;
}

.fp-slidesNav span {
  background-color: #FFF !important;
}

.fp-slides {
  overflow: inherit !important;
}
