:root {
  --border-ease: border 0.2s ease-out;
  --colour-ease: color 0.2s ease;
  --fade-in: fadein 1.5s;
  --logo-size: 140px;
}

body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #333;

  -webkit-animation: var(--fade-in);
     -moz-animation: var(--fade-in);
      -ms-animation: var(--fade-in);
       -o-animation: var(--fade-in);
          animation: var(--fade-in);
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  line-height: 15pt;
}

h1 {
  font-size: 5em;
  font-weight: normal;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 2.5em;
  font-weight: normal;
  letter-spacing: 0.1em;
}

hr {
  border: 0;
  border-top: 3px solid black;
  width: 500px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.uppercase {
  text-transform: uppercase;
}

.cursive {
  font-family: Pacifico;
}

.invert {
  background-color: #222;
  color: white;
}

.link {
  color: gold;
  border-bottom: 2px solid transparent;

  -webkit-transition: var(--border-ease);
     -moz-transition: var(--border-ease);
       -o-transition: var(--border-ease);
      -ms-transition: var(--border-ease);
          transition: var(--border-ease);
}
.link:hover {
  border-bottom: 2px solid;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 600px;
}

.logo {
  background-image: url("../images/kevin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--logo-size);
  width: var(--logo-size);
  height: var(--logo-size);
  display: inline-block;
  margin: 0 15px 0 25px;
}

.title-panel {
  text-align: center;
}

.title-info {
  text-align: initial;
  display: inline-block;
}

.title-name {
  margin: 0;
  line-height: 62pt;
}

.icon-btn {
  -webkit-transition: var(--colour-ease);
     -moz-transition: var(--colour-ease);
       -o-transition: var(--colour-ease);
      -ms-transition: var(--colour-ease);
          transition: var(--colour-ease);
  cursor: pointer;
}

#icon-github:hover {
  color: #aaa;
}

#icon-linkedin:hover {
  color: #0077B5;
}

#icon-steam:hover {
  color: #144C7F;
}

#icon-hummingbird:hover {
  color: #EE5323;
}

#icon-email:hover {
  color: #E81415;
}
