html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
  color: #333;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: default;
}

.header-panel {
  height: 350px;
  text-align: center;
  padding-top: 100px;
  background-color: #333;
  color: #FFF;
}

.title {
  font-size: 2em;
  margin-left: 8px;
}

.description {
  font-size: 1.1em;
}

.info-panel {
  text-align: center;
}

.icons {
  font-size: 3em;
}

.icon-btn {
  transition: color 0.3s;
  cursor: pointer;
}

#icon-github:hover {
  color: #BBB;
}

#icon-linkedin:hover {
  color: #0077B5;
}

#icon-steam:hover {
  color: #777;
}

#icon-hummingbird:hover {
  color: #FD7532;
}

#icon-email:hover {
  color: #E81415;
}

div.preload-panel {
  display: none;
}

/* Portrait flipping */
.flip-container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  perspective: 1000;
}
.flip-container:hover .flipper {
  transform: rotateY(180deg);
}
.flip-container, .flipper-front, .flipper-back {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.flipper-front, .flipper-back {
  background-size: 150px 150px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.flipper-front {
  z-index: 2;
  transform: rotateY(0deg);
  background-image: url("../images/kevin-1.png");
}
.flipper-back {
  transform: rotateY(180deg);
  background-image: url("../images/kevin-2.png");
}
