body {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #333;
  min-width: 350px;

  -webkit-animation: fadein 1s;
     -moz-animation: fadein 1s;
      -ms-animation: fadein 1s;
       -o-animation: fadein 1s;
          animation: fadein 1s;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  line-height: 15pt;
}

h1 {
  font-size: 5em;
  font-weight: normal;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 2.5em;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-top: 0;
}

hr {
  border: 0;
  border-top: 3px solid black;
  max-width: 500px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.uppercase {
  text-transform: uppercase;
}

.cursive {
  font-family: Pacifico;
}

.white-text {
  color: #FCFCFC;
}

.the-more-you-know {
  font-style: italic;

  -webkit-transition: color 0.3s ease-out;
     -moz-transition: color 0.3s ease-out;
       -o-transition: color 0.3s ease-out;
      -ms-transition: color 0.3s ease-out;
          transition: color 0.3s ease-out;
}

.the-more-you-know:hover {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.link {
  color: #FFD700;
  border-bottom: 2px solid transparent;

  -webkit-transition: border 0.2s ease-out;
     -moz-transition: border 0.2s ease-out;
       -o-transition: border 0.2s ease-out;
      -ms-transition: border 0.2s ease-out;
          transition: border 0.2s ease-out;
}
.link:hover {
  border-bottom: 2px solid;
}

.section-heading {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 2;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 600px;
}

.logo {
  width: 140px;
  height: 140px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140px;
  margin: 0 15px 0 25px;
  background-image: url("../images/kevin.png");
}

.title-panel {
  text-align: center;
}

.title-info {
  text-align: initial;
  display: inline-block;
}

.title-name {
  margin: 0;
  line-height: 62pt;
}

.about-panel {
  background-color: #222;
}

.coding-panel {
  background-color: #658BE4;
}

.bike-panel {
  background-color: #70DF94;
}

.game-panel {
  background-color: #EC6C78;
}

.shows-panel {
  background-color: #D895DF;
}

.link-nav {
  position: fixed;
  bottom: 11px;
  left: 14px;
}
.link-nav a {
  cursor: default;
}
.link-next {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 2.3em;
  color: #AAA;
  -webkit-transition: color 0.2s ease;
     -moz-transition: color 0.2s ease;
       -o-transition: color 0.2s ease;
      -ms-transition: color 0.2s ease;
          transition: color 0.2s ease;
}
.link-next:hover {
  color: #333;
}

.icon-btn {
  -webkit-transition: color 0.2s ease;
     -moz-transition: color 0.2s ease;
       -o-transition: color 0.2s ease;
      -ms-transition: color 0.2s ease;
          transition: color 0.2s ease;
  cursor: pointer;
  font-size: 2em !important;
  margin: 3px;
  color: #333;
}

.icon-btn:hover {
  color: #FFD700 !important;
}

.konami {
  font-size: 0.1em;
  margin-top: 40px;
  text-align: center;
  height: 50px;
}
.konami:hover {
  font-size: 2em;
}
.konami i, .konami div {
  padding: 5px;
  font-weight: bold;
  display: inline-block;
  transition: all .2s ease-in-out;
}
.konami i:hover, .konami div:hover {
  transform: scale(1.5);
}


/* Overwrites */

.fp-controlArrow.fp-prev {
  border-width: 20px 20px 20px 0 !important;
  -webkit-transition: border-color 0.4s ease;
     -moz-transition: border-color 0.4s ease;
       -o-transition: border-color 0.4s ease;
      -ms-transition: border-color 0.4s ease;
          transition: border-color 0.4s ease;
}

.fp-controlArrow.fp-next {
  border-width: 20px 0 20px 20px !important;
  -webkit-transition: border-color 0.4s ease;
     -moz-transition: border-color 0.4s ease;
       -o-transition: border-color 0.4s ease;
      -ms-transition: border-color 0.4s ease;
          transition: border-color 0.4s ease;
}

.fp-controlArrow.fp-prev:hover {
  border-right-color: #DDD !important;
}

.fp-controlArrow.fp-next:hover {
  border-left-color: #DDD !important;
}

.fp-slidesNav span {
  background-color: #FCFCFC !important;
}

.fp-slides {
  overflow: inherit !important;
}

.fp-slidesNav.bottom {
  bottom: 14px !important;
}

.fa-star {
  color: #FFD700;
}


/* Media Queries */

@media (max-width: 550px) {
  h1 {
    text-align: center;
  }

  .section-heading {
    top: 75px;
  }
}

@media (max-width: 680px) {
  .fp-controlArrow {
    display: none;
  }

  .konami {
    display: none;
  }
}
